<%- include("partials/header"); -%> 
<h1>About us</h1> <br>
<div class="about">
<ul>
    <li>
        <h3>Welcome to my personal blog website!😇</h3><br>
    </li>
    <li>
        <h4>What is a personal blog website🤔?</h4>
    </li>
    <h5>The personal blog is an ongoing online diary or commentary written by an individual, rather than a corporation or organization😃!</h5><br>
    <li>
        <h3>In this page, I will keep uploading my personal blog posts😎!</h3><br>
    </li>
    <li>
        <h4>What is a personal blog post🤔?</h4>
    </li>
        <h5>Personal blogs are written by anyone that enjoys sharing their ideas and thoughts with an online community. So you will get personal blogs of all shapes and sizes and in most niches. Many popular blogs are inspirational🤩💛!</h5>

</ul>
</div>
<p> <%= about %> </p>
<%- include("partials/footer"); -%> 