<%- include("partials/header.ejs"); %> 
<h1>Contact</h1><br>

<div class="contact">
    <ul>
        <li><h4>Need to keep in touch with us? <a href="mailto:ahmadjonzuhriddinov84@gmail.com">Email</a> us with any questions or suggestions you'd like to or call 4837-7711. </h4><p></li><br>
        <li><h4>Happy to answer your questions or suggestions🤝 </li></h4>
    </ul>
</div>

<p> <%= contact %> </p>
<%- include("partials/footer.ejs"); %> 